<!DOCTYPE html>
<html>
  <head>
    <title><%= result.brand %></title>    
    <link rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous"></script>
    <link rel='stylesheet', href='/stylesheets/style.css'/> 
  </head>
  <body>
    <%- include nav.ejs %>
    <div class="py-3 d-flex justify-content-center">             
        <figure>
        <!-- res.url denotes id  -->
        <a href="<%= result.url %>"><img src="<%= result.imgUrl %>" alt="Can't display" width="200" height="200"></a>                      
        </figure>  
        <div>          
          <h4><%= result.brand %> </h4>
          <h5><%= result.desc %></h5>      
          <h6>Stock: <%= result.stock %></h6>
          <p>Price: <%= result.price %></p>           
        </div>        
    </div>    
  </body>
</html>
