<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>    
    <link rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous"></script>
    <link rel='stylesheet', href='/stylesheets/style.css'/> 
  </head>
  <body>
    <%- include nav.ejs %>
    <div class="container py-3">
        <div class="d-flex justify-content-between">
          <h1><%= title %></h1>                               
          <button class="big-button" onclick="location.href = '/catalog/item/create'">Add item</button>                    
        </div>     
        <div class="py-3 my-3 d-flex flex-wrap">
            <% items.forEach(res =>{ %> 
              <div class="flex-grow-1">
                <figure>
                  <!-- res.url denotes id  -->
                  <a href="<%= res.url %>"><img src="<%= res.imgUrl %>" alt="Can't display" width="200" height="200"></a>                      
                </figure>  
                <div class="px-2">
                  <a class="text-dark" href="<%= res.url %>"><h5><%= res.brand %> </h5></a>            
                  <h6>Stock: <%= res.stock %></h6>
                  <p>Price: <%= res.price %></p>  
                  <!-- <p><%= res.imgUrl %></p>   -->
                  <!-- <img src="<%= res.imgUrl %>" alt="Can't display" width="200" height="200">         -->   
                </div> 
              </div>
                                                               
            <% }); %> 
        </div>
    </div>    
  </body>
</html>
